/* ---MAIN STYLES--- */

body {
    padding: 10px;
    font-family: sans-serif;
    background-color: whitesmoke;
    max-width: 800px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Component: Icon Button */

.icon-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
}

/* ---NOTES LIST--- */

ul.notes-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 0;
    list-style: none;
}

/* ---NOTE--- */

/* the outer li element */
.note {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* make details and summary both columns */
.note details summary {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.note > details {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-grow: 1;
    max-width: 100%;
}

/* make note's Header(input) and text(textarea) not look like inputs */
.note input[type="text"],
.note textarea {
    border: none;
    outline: none;
}

.note textarea {
    width: 100%;
    margin: 1rem 0rem;
    font-size: 1rem;
    resize: none;
}

/* underline text input to indicate clickable area */
.note input[type="text"] {
    border-bottom: 1px solid black;
    border-radius: 0;
    max-width: 100%;
}

/* Remove arrow marker from all details elements */
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

.note h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* style header text (input and h3) */
.note h3,
.note input[type="text"] {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

/* style date font */
.note span {
    font-size: 0.75rem;
}

/* ---SEARCH--- */

.search {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: lightgrey;
    width: 100%;
}

/* CheckBox */

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.3rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round label .tick {
    width: 60%;
    height: 30%;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    margin-bottom: 20%;
    margin-left: 0%;
    transform: rotate(-45deg);
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: goldenrod;
    border-color: goldenrod;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
}

header h1 {
    margin: 0;
    line-height: 1;
}
